.vscode/**
.vscode-test/**
.git/**
.github/**
scripts/**
src/**
**/*.ts
**/*.map
tsconfig.json
.gitignore
node_modules/**
*.vsix
test/**
media/publisher-logo*.png
media/icon-small.png
media/icon-tiny.png
